/* -------------------------------------------------------------------------- */
/*                                   General                                  */
/* -------------------------------------------------------------------------- */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-center-v {
  align-items: center;
}

.margin-bottom-sm {
  margin-bottom: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333333;
  letter-spacing: -0.5px;
}

.heading-primary {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  line-height: 1.05;
}

.heading-secondary {
  margin-bottom: 9.6rem;
  font-size: 4.4rem;
  line-height: 1.2;
}

.heading-tertiary {
  margin-bottom: 3.2rem;
  font-size: 3rem;
  line-height: 1.2;
}

.subheading {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #e67e22;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.center-text {
  text-align: center;
}

.link:link,
.link:visited {
  padding-bottom: 0.2rem;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentcolor;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 1rem;

  /* Put transition on original "state" */
  transition: background-color 0.3s;
}

.btn-full:link,
.btn-full:visited {
  color: #ffffff;
  background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  color: #555555;
  background-color: #ffffff;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #ffffff;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-style: 1.2rem;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
  border-radius: 1.2rem;
}

/* --------------------------------- Element -------------------------------- */

strong {
  font-weight: 500;
}
