/* -------------------------------------------------------------------------- */
/*                                Design SYSTEM                               */
/* -------------------------------------------------------------------------- */

/* ------------------------------ 01 TYPOGRAPHY ----------------------------- */
/*
- Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
  - Default: 400
  - Medium: 500
  - Semi-bold: 600
  - Bold: 700

- Line heights
  - Default: 1
  - Small: 1.05
  - Medium: 1.2

- Letter spacing
  - -0.5px
  - 0.75px
*/

/* -------------------------------- 02 COLOR -------------------------------- */
/*
- Primary: #e67e22
- Tints: #fdf2e9、#fae5d3、#eb984e
- Shades: #cf711f、#45260a
- Accents:
- Greys:
  - #888888
  - #767676 (lightest grey allowed on #ffffff)
  - #6f6f6f (lightest grey allowed on #fdf2e9)
  - #555555
  - #333333
*/

/* -------------------------------- 03 SHADOW ------------------------------- */
/*
- Shadow system
  0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
*/

/* ---------------------------- 04 BORDER RADIUS ---------------------------- */
/*
- Border radius
  - Default: 9px
  - Medium: 11px
*/

/* ------------------------------ 05 WHITESPACE ----------------------------- */
/*
- Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(230 125 34 / 50%);
}

html {
  font-size: 62.5%; /* 10px / 16px = 62.5% */
}

body {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555555;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #fdf2e9;
}

.logo {
  height: 2.4rem;
}

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav-cta:link,
.main-nav-cta:visited {
  padding: 1.2rem 2.4rem;
  color: #ffffff;
  background-color: #e67e22;
  border-radius: 1rem;
}

.main-nav-cta:hover,
.main-nav-cta:active {
  background-color: #cf711f;
}

/* -------------------------------------------------------------------------- */
/*                                    Hero                                    */
/* -------------------------------------------------------------------------- */

.section-hero {
  padding: 4.8rem 0 9.6rem;
  background-color: #fdf2e9;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hero-title {
  margin-bottom: 3.2rem;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333333;
  letter-spacing: -0.5px;
}

.hero-description {
  margin-bottom: 4.8rem;
  font-size: 2rem;
  line-height: 1.6;
}

.hero-links {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8rem;
}

.hero-customers {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.hero-customer-imgs {
  display: flex;
}

.hero-customer-img {
  width: 4.8rem;
  height: 4.8rem;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
  border-radius: 50%;
}

.hero-customer-img:last-child {
  margin-right: 0;
}

.hero-customer-info {
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-customer-info span {
  font-weight: 700;
  color: #e67e22;
}

.hero-img {
  width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                 Featured in                                */
/* -------------------------------------------------------------------------- */

.section-featured-in {
  padding: 4.8rem 0 3.2rem;
}

.featured-in-heading {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #888888;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.featured-in-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.featured-in-logo {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* -------------------------------------------------------------------------- */
/*                                How it works                                */
/* -------------------------------------------------------------------------- */

.section-how-it-works {
  padding: 9.6rem 0;
}

.step-number {
  margin-bottom: 1.2rem;
  font-size: 8.6rem;
  font-weight: 600;
  color: #dddddd;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  z-index: -2;
  width: 60%;
  padding-bottom: 60%; /* 60% of parent's width */
  background-color: #fdf2e9;
}

.step-img-box::after {
  z-index: -1;
  width: 45%;
  padding-bottom: 45%; /* 60% of parent's width */
  background-color: #fae5d3;
}

.step-img {
  width: 35%;
}

/* -------------------------------------------------------------------------- */
/*                                    Meals                                   */
/* -------------------------------------------------------------------------- */

.section-meals {
  padding: 9.6rem 0;
}

.meal-card {
  overflow: hidden;
  border-radius: 1.2rem;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 7.5%);
  transition: all 0.3s;
}

.meal-card:hover {
  box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 6%);
  transform: translateY(-1.2rem);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem;
}

.meal-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.meal-tag-vegetarian {
  background-color: #51cf66;
}

.meal-tag-vegan {
  background-color: #94d82d;
}

.meal-tag-paleo {
  background-color: #ffd43b;
}

.meal-title {
  margin-bottom: 3.2rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: #333333;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.8rem;
}

.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.diet-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style: none;
}

.diet-list-item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.8rem;
}

.diet-list-item-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.diet-link {
  font-size: 1.8rem;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                Testimonials                                */
/* -------------------------------------------------------------------------- */

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 50fr;
  align-items: center;
  background-color: #fdf2e9;
}

/* ------------------------------- Testimonial ------------------------------ */

.testimonials-box {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem 8rem;
}

.testimonial-customer-img {
  width: 6.4rem;
  margin-bottom: 1.2rem;
  border-radius: 50%;
}

.testimonial-customer-text {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  line-height: 1.6;
}

.testimonial-customer-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/* --------------------------------- Gallery -------------------------------- */

.gallery-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
  border-radius: 1rem;
}

.gallery-item-img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.gallery-item-img:hover {
  transform: scale(1.05);
}

/* -------------------------------------------------------------------------- */
/*                                   Pricing                                  */
/* -------------------------------------------------------------------------- */

.section-pricing {
  padding: 9.6rem 0;
}

/* ------------------------------ Pricing plan ------------------------------ */

.pricing-plan-card {
  width: 75%;
  border-radius: 1.2rem;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 7.5%);
}

.pricing-plan:hover {
  box-shadow: 0 3.2rem 6.4rem rgb(0 0 0 / 6%);
}

.pricing-plan-starter {
  justify-self: end;
  padding: 4.8rem;
  border: 2px solid #fdf2e9;
}

.pricing-plan-complete {
  position: relative;
  padding: 4.8rem;
  overflow: hidden;
  background-color: #fdf2e9;
}

.pricing-plan-complete::after {
  position: absolute;
  top: 6%;
  right: -18%;
  padding: 0.8rem 8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  content: 'Best value';
  background-color: #ffd43b;
  transform: rotate(45deg);
}

.pricing-plan-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.pricing-plan-name {
  margin-bottom: 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  color: #e67e22;
  text-transform: uppercase;
  letter-spacing: 0.75;
}

.pricing-plan-price {
  margin-bottom: 1.6rem;
  font-size: 6.2rem;
  font-weight: 600;
  color: #333333;
}

.pricing-plan-price span {
  margin-right: 0.8rem;
  font-size: 3rem;
  font-weight: 500;
}

.pricing-plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.pricing-plan-sign-up {
  margin-top: 4.8rem;
  text-align: center;
}

.pricing-plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333333;
  text-align: center;
}

/* -------------------------------- Features -------------------------------- */

.feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  border-radius: 50%;
}

.feature-title {
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #333333;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* -------------------------------------------------------------------------- */
/*                                     CTA                                    */
/* -------------------------------------------------------------------------- */

.section-cta {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 1.2rem;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 15%);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgb(253 242 233 / 50%);
}

.cta-form-box {
  padding: 4.8rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-form-title {
  margin-bottom: 3.2rem;
  color: #45260a;
}

.cta-form-text {
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem 3.2rem;
}

.cta-form-row {
  display: flex;
  flex-direction: column;
}

.cta-form-row label {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.cta-form-row input,
.cta-form-row select {
  width: 100%;
  padding: 1.2rem;
  font-family: inherit;
  font-size: 1.8rem;
  color: inherit;
  background-color: #fdf2e9;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.cta-from-row input::placeholder {
  color: #aaaaaa;
}

.cta-form-row select {
  appearance: none;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgb(235 150 76 / 35%),
      rgb(230 125 34 / 35%)
    ),
    url('/public/cta.jpg');
  background-position: center;
  background-size: cover;
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

.footer {
  padding: 12.8rem 0;
  background-color: #eeeeee;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo-link {
  display: block;
  margin-bottom: 3.2rem;
}

.footer-social-links {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.footer-social-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.footer-copyright {
  margin-top: auto;
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.footer-heading {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.footer-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}

.footer-navigation-link:link,
.footer-navigation-link:visited {
  font-size: 1.6rem;
  color: #767676;
  text-decoration: none;
  transition: all 0.3s;
}

.footer-navigation-link:hover,
.footer-navigation-link:active {
  color: #e67e22;
}

.footer-address {
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.6;
}

.footer-address-text {
  margin-bottom: 2.4rem;
}
